body {
    background-image: url(/assets/img\ folder/spookyhall.jpg);
    background-size: cover;
    background-color: black;
}

nav {
    font-size: xx-large;
    width: 10%;
    margin-top: 25%;
}

a {
    color: white;
    display: block;
    font-family: 'Amatic SC', cursive;
    height: 30px
    
}

a:hover {
    color: red;
    font-family: 'Creepster', cursive;
}

a:link {
    text-decoration: none;
    margin-bottom: 40px;
}