body {
    background-image: url(/assets/img\ folder/conor-samuel-T8p7Ak4HjF4-unsplash.jpg);
    background-size: cover;
    background-color: black;
}

nav {
    font-size: 400%;
    width: 10%;
    position: fixed;
}

a {
    color: white;
    display: block;
    font-family: 'Amatic SC', cursive;
    height: 30px;
    padding-top: 10px;
    
}

a:hover {
    color: red;
    font-family: 'Creepster', cursive;
    background-image: url(/assets/img\ folder/bloodsplatter.png);
    background-size: cover;
}

a:link {
    text-decoration: none;
    margin-bottom: 40px;
}

.circusaudio {
    float: right;
    margin-top: 90%;
    opacity: 75%;
}